html {
	background-color: #181a1b ;
}

*{
  scrollbar-color: #454a4d #202324;
}

body {
font-family: Arial, sans-serif;
background-color: rgb(38, 42, 43);
color: rgb(232, 230, 227);
margin: 0 auto;
padding: 20px;
}

.text-center {
text-align: center;
margin-bottom: 40px;
}

h1, h5 {
color: rgb(232,230,227);
}

form {
margin: 0 auto;
padding: 30px;
border-radius: 10px;
background-color: rgb(51, 55, 58);
box-shadow: rgba(24, 26, 27, 0.1) 0px 0px 20px;
}

input[type="number"] {
color: rgb(232, 230, 227);
background-color: rgb(38, 42, 43);
width: 150px;
padding: 10px;
font-size: 16px;
border-radius: 5px;
border: 1px solid rgb(48,52,54);
margin-bottom: 20px;
}


input[type="number"]:focus {
background-color: #131516;
color: rgb(232, 230, 227);
}


label {
font-weight: bold;
margin-right: 10px;
}

#optionalSettingsToggle {
display: inline-block;
margin-left: 20px;
vertical-align: middle;
}

#optionalSettings {
margin-top: 20px;
}

#submitButton {
background-color: #4CAF50;
color: rgb(232,230,227);
padding: 10px 20px;
border-radius: 5px;
border: none;
cursor: pointer;
font-size: 16px;
}

#resultContainer {
margin-top: 30px;
}

#result {
color: #4CAF50;
font-size: 36px;
}

#errorContainer {
margin-top: 30px;
color: #f44336;
}

h1 {
color: rgb(232,230,227);
font-size: 36px;
margin-top: 40px;
}

p {
font-size: 16px;
line-height: 1.5;
color: rgb(232,230,227);
margin-top: 20px;
}

code {
background-color: #444;
padding: 5px 10px;
font-size: 14px;
border-radius: 5px;
display: block;
margin-top: 20px;
color: rgb(232,230,227);
}

.text-muted {
  color: rgb(158, 150, 137) !important;
}